<div class="quest-card">
  <p>You: <%= @question %></p>
</div>

<div class="ask-card">
  <p>Coach: <%= @answer %></p>
</div>

<div class="another-card">
  <p>  <%= link_to "Ask another question", ask_path %> </p>
</div>
