<div class="question">
  <form action="/answer">
    <input type="text" name="question" placeholder="What you want?">
    <input type="submit" value="Do it!">
  </form>
</div>

<div class="options">
  <p>Your options: <br>
    1. ask him anything you want - he is a wise man<br>
    2. tell him anyting you want - he will motivate you<br>
    3. tell him "I am going out there and win the game!" --> Your coach will be amused, somehow at least...
  </p>
</div>
